<div class="nf-wrap">
  <div class="nf-header">
    <div><p class="nf-eyebrow">NOTIFICATIONS</p><h1 class="nf-title">Alerts & updates</h1></div>
    <button (click)="markAllRead()" class="nf-mark-btn">Mark all as read</button>
  </div>
  <div class="nf-list">
    <div *ngFor="let n of notifications" class="nf-item" [class.nf-item--unread]="!n.read" [ngClass]="getTypeClass(n.type)">
      <div class="nf-dot"></div>
      <div class="nf-body">
        <div class="nf-title-text">{{ n.title }}</div>
        <div class="nf-body-text">{{ n.body }}</div>
      </div>
      <div class="nf-time">{{ n.time }}</div>
    </div>
  </div>
</div>
