<h2>Demande de Rendez-vous</h2>

<form>

  <label>Jour du rendez-vous</label><br>
  <input type="date" name="dateRDV">

  <br><br>

  <label>Type de rendez-vous</label><br>

  <select name="typeRDV">
    <option value="consultation">Consultation</option>
    <option value="controle">Contrôle</option>
    <option value="urgence">Urgence</option>
  </select>

  <br><br>

  <label>Motif de la consultation</label><br>
  <textarea name="motif" rows="4" cols="40" placeholder="Expliquez votre problème"></textarea>

  <br><br>

  <button type="submit">Envoyer la demande</button>

</form>
